.tab-button {
    display: flex;
    justify-content: center;
}

    .tab-button .mud-tab {
        flex: 1; /* Equal width for all tabs */
        text-align: center;
        font-weight: bold;
        padding: 12px 16px;
        min-width: 150px;
        border-radius: 8px;
    }
